# Lending Club Dataset Exploration 1

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
from sklearn import preprocessing, pipeline, metrics, model_selection

pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 100
sns.set_style("white")
%matplotlib inline

__Datasets questions:__

1. How many samples in the datasets
2. How many columns in the datasets
3. What data types of those columns
4. Missing values in those columns

In [2]:
# import 3a data
a_df = pd.read_csv("LoanStats3a_securev1.csv",engine="python",error_bad_lines=False,header=1)

In [3]:
# mo_sin_rcnt_rev_tl_op
a_df['mo_sin_rcnt_rev_tl_op'].isnull().sum()

3232

In [4]:
# num_rev_accts
a_df['num_rev_accts'].isnull().sum()

3232

In [3]:
a_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1077501,NaN,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1077501,Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>,credit_card,Computer,860xx,AZ,27.65,0,Jan-1985,735,739,1,NaN,NaN,3,0,13648,83.7%,9,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.00,0.0,0.00,Jan-2015,171.62,NaN,Jul-2020,724,720,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,NaN,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1077430,Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking a...,car,bike,309xx,GA,1.00,0,Apr-1999,740,744,5,NaN,NaN,3,0,1687,9.4%,4,f,0.0,0.0,1014.530000,1014.53,456.46,435.17,0.00,122.9,1.11,Apr-2013,119.66,NaN,Oct-2016,499,0,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,NaN,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1077175,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-2001,735,739,2,NaN,NaN,2,0,2956,98.5%,10,f,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.00,0.0,0.00,Jun-2014,649.91,NaN,Jun-2017,739,735,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,NaN,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1076863,"Borrower added on 12/21/11 > to pay for property tax (borrow from friend, need to pay back) & ...",other,personel,917xx,CA,20.00,0,Feb-1996,690,694,1,35.0,NaN,10,0,5598,21%,37,f,0.0,0.0,12231.890000,12231.89,10000.00,2214.92,16.97,0.0,0.00,Jan-2015,357.48,NaN,Apr-2016,604,600,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,NaN,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1075358,Borrower added on 12/21/11 > I plan on combining three large interest bills together and freei...,other,Personal,972xx,OR,17.94,0,Jan-1996,695,699,0,38.0,NaN,15,0,27783,53.9%,38,f,0.0,0.0,4066.908161,4066.91,3000.00,1066.91,0.00,0.0,0.00,Jan-2017,67.30,NaN,Apr-2018,684,680,0,NaN,1,Individual,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

As information below shows, 150 columns total and some of them has many Null values, even in some columns, 0 entries are not Nulls.

In [4]:
a_df.info(max_cols=200,verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3232 entries, 0 to 3231
Data columns (total 150 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id                                          3232 non-null   int64
 1   member_id                                   0 non-null      float64
 2   loan_amnt                                   3232 non-null   int64
 3   funded_amnt                                 3232 non-null   int64
 4   funded_amnt_inv                             3232 non-null   float64
 5   term                                        3232 non-null   object
 6   int_rate                                    3232 non-null   object
 7   installment                                 3232 non-null   float64
 8   grade                                       3232 non-null   object
 9   sub_grade                                   3232 non-null   object
 10  emp_title                                   3042 non-null   object
 11  emp_length                                  3140 non-null   object
 12  home_ownership                              3232 non-null   object
 13  annual_inc                                  3232 non-null   float64
 14  verification_status                         3232 non-null   object
 15  issue_d                                     3232 non-null   object
 16  loan_status                                 3232 non-null   object
 17  pymnt_plan                                  3232 non-null   object
 18  url                                         3232 non-null   object
 19  desc                                        1785 non-null   object
 20  purpose                                     3232 non-null   object
 21  title                                       3232 non-null   object
 22  zip_code                                    3232 non-null   object
 23  addr_state                                  3232 non-null   object
 24  dti                                         3232 non-null   float64
 25  delinq_2yrs                                 3232 non-null   int64
 26  earliest_cr_line                            3232 non-null   object
 27  fico_range_low                              3232 non-null   int64
 28  fico_range_high                             3232 non-null   int64
 29  inq_last_6mths                              3232 non-null   int64
 30  mths_since_last_delinq                      934 non-null    float64
 31  mths_since_last_record                      84 non-null     float64
 32  open_acc                                    3232 non-null   int64
 33  pub_rec                                     3232 non-null   int64
 34  revol_bal                                   3232 non-null   int64
 35  revol_util                                  3232 non-null   object
 36  total_acc                                   3232 non-null   int64
 37  initial_list_status                         3232 non-null   object
 38  out_prncp                                   3232 non-null   float64
 39  out_prncp_inv                               3232 non-null   float64
 40  total_pymnt                                 3232 non-null   float64
 41  total_pymnt_inv                             3232 non-null   float64
 42  total_rec_prncp                             3232 non-null   float64
 43  total_rec_int                               3232 non-null   float64
 44  total_rec_late_fee                          3232 non-null   float64
 45  recoveries                                  3232 non-null   float64
 46  collection_recovery_fee                     3232 non-null   float64
 47  last_pymnt_d                                3230 non-null   object
 48  last_pymnt_amnt                             3232 non-null   float64
 49  next_pymnt_d                                0 non-null      float64
 50  last_credit_pull_d                          3232 non-null   object
 51  last_fico_range_high                        3232 non-null   int64
 52  last_fico_range_low                         3232 non-null   int64
 53  collections_12_mths_ex_med                  3232 non-null   int64
 54  mths_since_last_major_derog                 0 non-null      float64
 55  policy_code                                 3232 non-null   int64
 56  application_type                            3232 non-null   object
 57  annual_inc_joint                            0 non-null      float64
 58  dti_joint                                   0 non-null      float64
 59  verification_status_joint                   0 non-null      float64
 60  acc_now_delinq                              3232 non-null   int64
 61  tot_coll_amt                                0 non-null      float64
 62  tot_cur_bal                                 0 non-null      float64
 63  open_acc_6m                                 0 non-null      float64
 64  open_act_il                                 0 non-null      float64
 65  open_il_12m                                 0 non-null      float64
 66  open_il_24m                                 0 non-null      float64
 67  mths_since_rcnt_il                          0 non-null      float64
 68  total_bal_il                                0 non-null      float64
 69  il_util                                     0 non-null      float64
 70  open_rv_12m                                 0 non-null      float64
 71  open_rv_24m                                 0 non-null      float64
 72  max_bal_bc                                  0 non-null      float64
 73  all_util                                    0 non-null      float64
 74  total_rev_hi_lim                            0 non-null      float64
 75  inq_fi                                      0 non-null      float64
 76  total_cu_tl                                 0 non-null      float64
 77  inq_last_12m                                0 non-null      float64
 78  acc_open_past_24mths                        0 non-null      float64
 79  avg_cur_bal                                 0 non-null      float64
 80  bc_open_to_buy                              0 non-null      float64
 81  bc_util                                     0 non-null      float64
 82  chargeoff_within_12_mths                    3232 non-null   int64
 83  delinq_amnt                                 3232 non-null   int64
 84  mo_sin_old_il_acct                          0 non-null      float64
 85  mo_sin_old_rev_tl_op                        0 non-null      float64
 86  mo_sin_rcnt_rev_tl_op                       0 non-null      float64
 87  mo_sin_rcnt_tl                              0 non-null      float64
 88  mort_acc                                    0 non-null      float64
 89  mths_since_recent_bc                        0 non-null      float64
 90  mths_since_recent_bc_dlq                    0 non-null      float64
 91  mths_since_recent_inq                       0 non-null      float64
 92  mths_since_recent_revol_delinq              0 non-null      float64
 93  num_accts_ever_120_pd                       0 non-null      float64
 94  num_actv_bc_tl                              0 non-null      float64
 95  num_actv_rev_tl                             0 non-null      float64
 96  num_bc_sats                                 0 non-null      float64
 97  num_bc_tl                                   0 non-null      float64
 98  num_il_tl                                   0 non-null      float64
 99  num_op_rev_tl                               0 non-null      float64
 100 num_rev_accts                               0 non-null      float64
 101 num_rev_tl_bal_gt_0                         0 non-null      float64
 102 num_sats                                    0 non-null      float64
 103 num_tl_120dpd_2m                            0 non-null      float64
 104 num_tl_30dpd                                0 non-null      float64
 105 num_tl_90g_dpd_24m                          0 non-null      float64
 106 num_tl_op_past_12m                          0 non-null      float64
 107 pct_tl_nvr_dlq                              0 non-null      float64
 108 percent_bc_gt_75                            0 non-null      float64
 109 pub_rec_bankruptcies                        3232 non-null   int64
 110 tax_liens                                   3232 non-null   int64
 111 tot_hi_cred_lim                             0 non-null      float64
 112 total_bal_ex_mort                           0 non-null      float64
 113 total_bc_limit                              0 non-null      float64
 114 total_il_high_credit_limit                  0 non-null      float64
 115 revol_bal_joint                             0 non-null      float64
 116 sec_app_fico_range_low                      0 non-null      float64
 117 sec_app_fico_range_high                     0 non-null      float64
 118 sec_app_earliest_cr_line                    0 non-null      float64
 119 sec_app_inq_last_6mths                      0 non-null      float64
 120 sec_app_mort_acc                            0 non-null      float64
 121 sec_app_open_acc                            0 non-null      float64
 122 sec_app_revol_util                          0 non-null      float64
 123 sec_app_open_act_il                         0 non-null      float64
 124 sec_app_num_rev_accts                       0 non-null      float64
 125 sec_app_chargeoff_within_12_mths            0 non-null      float64
 126 sec_app_collections_12_mths_ex_med          0 non-null      float64
 127 sec_app_mths_since_last_major_derog         0 non-null      float64
 128 hardship_flag                               3232 non-null   object
 129 hardship_type                               0 non-null      float64
 130 hardship_reason                             0 non-null      float64
 131 hardship_status                             0 non-null      float64
 132 deferral_term                               0 non-null      float64
 133 hardship_amount                             0 non-null      float64
 134 hardship_start_date                         0 non-null      float64
 135 hardship_end_date                           0 non-null      float64
 136 payment_plan_start_date                     0 non-null      float64
 137 hardship_length                             0 non-null      float64
 138 hardship_dpd                                0 non-null      float64
 139 hardship_loan_status                        0 non-null      float64
 140 orig_projected_additional_accrued_interest  0 non-null      float64
 141 hardship_payoff_balance_amount              0 non-null      float64
 142 hardship_last_payment_amount                0 non-null      float64
 143 debt_settlement_flag                        3232 non-null   object
 144 debt_settlement_flag_date                   23 non-null     object
 145 settlement_status                           23 non-null     object
 146 settlement_date                             23 non-null     object
 147 settlement_amount                           22 non-null     float64
 148 settlement_percentage                       22 non-null     float64
 149 settlement_term                             22 non-null     float64
dtypes: float64(102), int64(20), object(28)
memory usage: 3.7+ MB

In [5]:
sum(a_df['next_pymnt_d'].notnull())

0

Same number of columns in another dataset and some of them have zero not-Null

In [6]:
# import 3b data
b_df = pd.read_csv("LoanStats3b_securev1.csv",engine="python",error_bad_lines=False,header=1)

Skipping line 3357: unexpected end of data

In [7]:
print(b_df.info(max_cols=200))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3354 entries, 0 to 3353
Data columns (total 150 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id                                          3354 non-null   int64
 1   member_id                                   0 non-null      float64
 2   loan_amnt                                   3354 non-null   int64
 3   funded_amnt                                 3354 non-null   int64
 4   funded_amnt_inv                             3354 non-null   int64
 5   term                                        3354 non-null   object
 6   int_rate                                    3354 non-null   object
 7   installment                                 3354 non-null   float64
 8   grade                                       3354 non-null   object
 9   sub_grade                                   3354 non-null   object
 10  emp_title                                   3199 non-null   object
 11  emp_length                                  3230 non-null   object
 12  home_ownership                              3354 non-null   object
 13  annual_inc                                  3354 non-null   float64
 14  verification_status                         3354 non-null   object
 15  issue_d                                     3354 non-null   object
 16  loan_status                                 3354 non-null   object
 17  pymnt_plan                                  3354 non-null   object
 18  url                                         3354 non-null   object
 19  desc                                        1075 non-null   object
 20  purpose                                     3354 non-null   object
 21  title                                       3354 non-null   object
 22  zip_code                                    3354 non-null   object
 23  addr_state                                  3354 non-null   object
 24  dti                                         3354 non-null   float64
 25  delinq_2yrs                                 3354 non-null   int64
 26  earliest_cr_line                            3354 non-null   object
 27  fico_range_low                              3354 non-null   int64
 28  fico_range_high                             3354 non-null   int64
 29  inq_last_6mths                              3354 non-null   int64
 30  mths_since_last_delinq                      1610 non-null   float64
 31  mths_since_last_record                      483 non-null    float64
 32  open_acc                                    3354 non-null   int64
 33  pub_rec                                     3354 non-null   int64
 34  revol_bal                                   3354 non-null   int64
 35  revol_util                                  3353 non-null   object
 36  total_acc                                   3354 non-null   int64
 37  initial_list_status                         3354 non-null   object
 38  out_prncp                                   3354 non-null   float64
 39  out_prncp_inv                               3354 non-null   float64
 40  total_pymnt                                 3354 non-null   float64
 41  total_pymnt_inv                             3354 non-null   float64
 42  total_rec_prncp                             3354 non-null   float64
 43  total_rec_int                               3354 non-null   float64
 44  total_rec_late_fee                          3354 non-null   float64
 45  recoveries                                  3354 non-null   float64
 46  collection_recovery_fee                     3354 non-null   float64
 47  last_pymnt_d                                3352 non-null   object
 48  last_pymnt_amnt                             3354 non-null   float64
 49  next_pymnt_d                                0 non-null      float64
 50  last_credit_pull_d                          3354 non-null   object
 51  last_fico_range_high                        3354 non-null   int64
 52  last_fico_range_low                         3354 non-null   int64
 53  collections_12_mths_ex_med                  3354 non-null   int64
 54  mths_since_last_major_derog                 767 non-null    float64
 55  policy_code                                 3354 non-null   int64
 56  application_type                            3354 non-null   object
 57  annual_inc_joint                            0 non-null      float64
 58  dti_joint                                   0 non-null      float64
 59  verification_status_joint                   0 non-null      float64
 60  acc_now_delinq                              3354 non-null   int64
 61  tot_coll_amt                                3354 non-null   int64
 62  tot_cur_bal                                 3354 non-null   int64
 63  open_acc_6m                                 0 non-null      float64
 64  open_act_il                                 0 non-null      float64
 65  open_il_12m                                 0 non-null      float64
 66  open_il_24m                                 0 non-null      float64
 67  mths_since_rcnt_il                          0 non-null      float64
 68  total_bal_il                                0 non-null      float64
 69  il_util                                     0 non-null      float64
 70  open_rv_12m                                 0 non-null      float64
 71  open_rv_24m                                 0 non-null      float64
 72  max_bal_bc                                  0 non-null      float64
 73  all_util                                    0 non-null      float64
 74  total_rev_hi_lim                            3354 non-null   int64
 75  inq_fi                                      0 non-null      float64
 76  total_cu_tl                                 0 non-null      float64
 77  inq_last_12m                                0 non-null      float64
 78  acc_open_past_24mths                        3354 non-null   int64
 79  avg_cur_bal                                 3354 non-null   int64
 80  bc_open_to_buy                              3326 non-null   float64
 81  bc_util                                     3325 non-null   float64
 82  chargeoff_within_12_mths                    3354 non-null   int64
 83  delinq_amnt                                 3354 non-null   int64
 84  mo_sin_old_il_acct                          3243 non-null   float64
 85  mo_sin_old_rev_tl_op                        3354 non-null   int64
 86  mo_sin_rcnt_rev_tl_op                       3354 non-null   int64
 87  mo_sin_rcnt_tl                              3354 non-null   int64
 88  mort_acc                                    3354 non-null   int64
 89  mths_since_recent_bc                        3329 non-null   float64
 90  mths_since_recent_bc_dlq                    822 non-null    float64
 91  mths_since_recent_inq                       3060 non-null   float64
 92  mths_since_recent_revol_delinq              1120 non-null   float64
 93  num_accts_ever_120_pd                       3354 non-null   int64
 94  num_actv_bc_tl                              3354 non-null   int64
 95  num_actv_rev_tl                             3354 non-null   int64
 96  num_bc_sats                                 3354 non-null   int64
 97  num_bc_tl                                   3354 non-null   int64
 98  num_il_tl                                   3354 non-null   int64
 99  num_op_rev_tl                               3354 non-null   int64
 100 num_rev_accts                               3354 non-null   int64
 101 num_rev_tl_bal_gt_0                         3354 non-null   int64
 102 num_sats                                    3354 non-null   int64
 103 num_tl_120dpd_2m                            3249 non-null   float64
 104 num_tl_30dpd                                3354 non-null   int64
 105 num_tl_90g_dpd_24m                          3354 non-null   int64
 106 num_tl_op_past_12m                          3354 non-null   int64
 107 pct_tl_nvr_dlq                              3354 non-null   float64
 108 percent_bc_gt_75                            3326 non-null   float64
 109 pub_rec_bankruptcies                        3354 non-null   int64
 110 tax_liens                                   3354 non-null   int64
 111 tot_hi_cred_lim                             3354 non-null   int64
 112 total_bal_ex_mort                           3354 non-null   int64
 113 total_bc_limit                              3354 non-null   int64
 114 total_il_high_credit_limit                  3354 non-null   int64
 115 revol_bal_joint                             0 non-null      float64
 116 sec_app_fico_range_low                      0 non-null      float64
 117 sec_app_fico_range_high                     0 non-null      float64
 118 sec_app_earliest_cr_line                    0 non-null      float64
 119 sec_app_inq_last_6mths                      0 non-null      float64
 120 sec_app_mort_acc                            0 non-null      float64
 121 sec_app_open_acc                            0 non-null      float64
 122 sec_app_revol_util                          0 non-null      float64
 123 sec_app_open_act_il                         0 non-null      float64
 124 sec_app_num_rev_accts                       0 non-null      float64
 125 sec_app_chargeoff_within_12_mths            0 non-null      float64
 126 sec_app_collections_12_mths_ex_med          0 non-null      float64
 127 sec_app_mths_since_last_major_derog         0 non-null      float64
 128 hardship_flag                               3354 non-null   object
 129 hardship_type                               3 non-null      object
 130 hardship_reason                             3 non-null      object
 131 hardship_status                             3 non-null      object
 132 deferral_term                               3 non-null      float64
 133 hardship_amount                             3 non-null      float64
 134 hardship_start_date                         3 non-null      object
 135 hardship_end_date                           3 non-null      object
 136 payment_plan_start_date                     3 non-null      object
 137 hardship_length                             3 non-null      float64
 138 hardship_dpd                                3 non-null      float64
 139 hardship_loan_status                        3 non-null      object
 140 orig_projected_additional_accrued_interest  3 non-null      float64
 141 hardship_payoff_balance_amount              3 non-null      float64
 142 hardship_last_payment_amount                3 non-null      float64
 143 debt_settlement_flag                        3354 non-null   object
 144 debt_settlement_flag_date                   37 non-null     object
 145 settlement_status                           37 non-null     object
 146 settlement_date                             37 non-null     object
 147 settlement_amount                           37 non-null     float64
 148 settlement_percentage                       37 non-null     float64
 149 settlement_term                             37 non-null     float64
dtypes: float64(68), int64(47), object(35)
memory usage: 3.8+ MB
None

concatenate two datasets as the full dataset

In [8]:
## concate the 2 datasets into 1
full_df = pd.concat([a_df, b_df])

In [9]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6586 entries, 0 to 3353
Columns: 150 entries, id to settlement_term
dtypes: float64(95), int64(20), object(35)
memory usage: 7.6+ MB

Remove columns which has Nulls in majority of entires (>=90%)

97 columns left after remove columns that below 10% non-null values threshold

In [13]:
sum_entries = len(full_df)

In [16]:
full_clean_df = full_df.dropna(axis=1,thresh=sum_entries*0.1, inplace=False)

In [17]:
full_clean_df.info(max_cols=200)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6586 entries, 0 to 3353
Data columns (total 97 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6586 non-null   int64
 1   loan_amnt                       6586 non-null   int64
 2   funded_amnt                     6586 non-null   int64
 3   funded_amnt_inv                 6586 non-null   float64
 4   term                            6586 non-null   object
 5   int_rate                        6586 non-null   object
 6   installment                     6586 non-null   float64
 7   grade                           6586 non-null   object
 8   sub_grade                       6586 non-null   object
 9   emp_title                       6241 non-null   object
 10  emp_length                      6370 non-null   object
 11  home_ownership                  6586 non-null   object
 12  annual_inc                      6586 non-null   float64
 13  verification_status             6586 non-null   object
 14  issue_d                         6586 non-null   object
 15  loan_status                     6586 non-null   object
 16  pymnt_plan                      6586 non-null   object
 17  url                             6586 non-null   object
 18  desc                            2860 non-null   object
 19  purpose                         6586 non-null   object
 20  title                           6586 non-null   object
 21  zip_code                        6586 non-null   object
 22  addr_state                      6586 non-null   object
 23  dti                             6586 non-null   float64
 24  delinq_2yrs                     6586 non-null   int64
 25  earliest_cr_line                6586 non-null   object
 26  fico_range_low                  6586 non-null   int64
 27  fico_range_high                 6586 non-null   int64
 28  inq_last_6mths                  6586 non-null   int64
 29  mths_since_last_delinq          2544 non-null   float64
 30  open_acc                        6586 non-null   int64
 31  pub_rec                         6586 non-null   int64
 32  revol_bal                       6586 non-null   int64
 33  revol_util                      6585 non-null   object
 34  total_acc                       6586 non-null   int64
 35  initial_list_status             6586 non-null   object
 36  out_prncp                       6586 non-null   float64
 37  out_prncp_inv                   6586 non-null   float64
 38  total_pymnt                     6586 non-null   float64
 39  total_pymnt_inv                 6586 non-null   float64
 40  total_rec_prncp                 6586 non-null   float64
 41  total_rec_int                   6586 non-null   float64
 42  total_rec_late_fee              6586 non-null   float64
 43  recoveries                      6586 non-null   float64
 44  collection_recovery_fee         6586 non-null   float64
 45  last_pymnt_d                    6582 non-null   object
 46  last_pymnt_amnt                 6586 non-null   float64
 47  last_credit_pull_d              6586 non-null   object
 48  last_fico_range_high            6586 non-null   int64
 49  last_fico_range_low             6586 non-null   int64
 50  collections_12_mths_ex_med      6586 non-null   int64
 51  mths_since_last_major_derog     767 non-null    float64
 52  policy_code                     6586 non-null   int64
 53  application_type                6586 non-null   object
 54  acc_now_delinq                  6586 non-null   int64
 55  tot_coll_amt                    3354 non-null   float64
 56  tot_cur_bal                     3354 non-null   float64
 57  total_rev_hi_lim                3354 non-null   float64
 58  acc_open_past_24mths            3354 non-null   float64
 59  avg_cur_bal                     3354 non-null   float64
 60  bc_open_to_buy                  3326 non-null   float64
 61  bc_util                         3325 non-null   float64
 62  chargeoff_within_12_mths        6586 non-null   int64
 63  delinq_amnt                     6586 non-null   int64
 64  mo_sin_old_il_acct              3243 non-null   float64
 65  mo_sin_old_rev_tl_op            3354 non-null   float64
 66  mo_sin_rcnt_rev_tl_op           3354 non-null   float64
 67  mo_sin_rcnt_tl                  3354 non-null   float64
 68  mort_acc                        3354 non-null   float64
 69  mths_since_recent_bc            3329 non-null   float64
 70  mths_since_recent_bc_dlq        822 non-null    float64
 71  mths_since_recent_inq           3060 non-null   float64
 72  mths_since_recent_revol_delinq  1120 non-null   float64
 73  num_accts_ever_120_pd           3354 non-null   float64
 74  num_actv_bc_tl                  3354 non-null   float64
 75  num_actv_rev_tl                 3354 non-null   float64
 76  num_bc_sats                     3354 non-null   float64
 77  num_bc_tl                       3354 non-null   float64
 78  num_il_tl                       3354 non-null   float64
 79  num_op_rev_tl                   3354 non-null   float64
 80  num_rev_accts                   3354 non-null   float64
 81  num_rev_tl_bal_gt_0             3354 non-null   float64
 82  num_sats                        3354 non-null   float64
 83  num_tl_120dpd_2m                3249 non-null   float64
 84  num_tl_30dpd                    3354 non-null   float64
 85  num_tl_90g_dpd_24m              3354 non-null   float64
 86  num_tl_op_past_12m              3354 non-null   float64
 87  pct_tl_nvr_dlq                  3354 non-null   float64
 88  percent_bc_gt_75                3326 non-null   float64
 89  pub_rec_bankruptcies            6586 non-null   int64
 90  tax_liens                       6586 non-null   int64
 91  tot_hi_cred_lim                 3354 non-null   float64
 92  total_bal_ex_mort               3354 non-null   float64
 93  total_bc_limit                  3354 non-null   float64
 94  total_il_high_credit_limit      3354 non-null   float64
 95  hardship_flag                   6586 non-null   object
 96  debt_settlement_flag            6586 non-null   object
dtypes: float64(52), int64(20), object(25)
memory usage: 4.9+ MB

In [47]:
# export to csv file
full_clean_df.to_csv("full_clean_data.csv",header="True",index=False)

## dictionary for variables names, their diescription and data type

Download the Data Dictionary from Lending Club website which has short description about each column

since its one-time process, code snippts attached here for future use
```python
# export to a file
import io
buffer = io.StringIO()
full_clean_df.info(buf=buffer)
s = buffer.getvalue()
with open("df_clean_info.csv", "w",
          encoding="utf-8") as f:  
    f.write(s)

# read the data dictioany
lc_dic_df = pd.read_csv("LClubDataDictionary.csv",usecols=['LoanStatNew', 'Description'],engine="python",error_bad_lines=False)

# import the excel-cleaned data  
df_clean_col_info = pd.read_csv("df_clean_info_proceed.csv",engine="python",error_bad_lines=False)

# merge two 
full_dict_df = pd.merge(df_clean_col_info, lc_dic_df, how='left', on='LoanStatNew')

# export to a acsv file
full_dict_df.to_csv('clean_col_dict.csv',index='False')
```

# export to a file
import io
buffer = io.StringIO()
full_clean_df.info(buf=buffer)
s = buffer.getvalue()
with open("df_clean_info.csv", "w",
          encoding="utf-8") as f:  
    f.write(s)

lc_dic_df = pd.read_csv("LClubDataDictionary.csv",usecols=['LoanStatNew', 'Description'],engine="python",error_bad_lines=False)

lc_dic_df.head()

df_clean_col_info = pd.read_csv("df_clean_info_proceed.csv",engine="python",error_bad_lines=False)

df_clean_col_info.head()

# merge two 
full_dict_df = pd.merge(df_clean_col_info, lc_dic_df, how='left', on='LoanStatNew')

# export to a acsv file
full_dict_df.to_csv('clean_col_dict.csv',index='False')

In [44]:
#
clean_col_dict_df = pd.read_csv("clean_col_dict.csv")

In [45]:
clean_col_dict_df

,Unnamed: 0,LoanStatNew,NotNullEntry,Dtype,Description
0,0,id,6586.0,int64,A unique LC assigned ID for the loan listing.
1,1,loan_amnt,6586.0,int64,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit ..."
2,2,funded_amnt,6586.0,int64,The total amount committed to that loan at that point in time.
3,3,funded_amnt_inv,6586.0,float64,The total amount committed by investors for that loan at that point in time.
4,4,term,6586.0,object,The number of payments on the loan. Values are in months and can be either 36 or 60.
...,...,...,...,...,...
94,94,total_il_high_credit_limit,3354.0,float64,Total installment high credit/credit limit
95,95,hardship_flag,6586.0,object,Flags whether or not the borrower is on a hardship plan
96,96,debt_settlement_flag,6586.0,object,"Flags whether or not the borrower, who has charged-off, is working with a debt-settlement company."
97,97,pes: float64(52),NaN,NaN,NaN
98,98,ory usage: 4.9+ MB,NaN,NaN,NaN